.navigation {
  padding-top: 3rem;
  padding-left: 3rem;
  height: 100%;
  background-color: var(--nav-background-color);
}
.navigation li a {
  display: block;
}
.logo-box {
  background-color: var(--logo-box-bg-color);
  padding-top: 3rem;
  padding-left: 3rem;
  padding-bottom: 1.2rem;
  color: var(--logo-box-color);
  font-size: 2.4rem;
  font-weight: 600;
}
.logo-heading-1 {
  color: var(--logo-heading-color);
}
.header-top-bar {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 4rem;
  /* background-color: var(--logo-box-bg-color); */
  /* border-bottom: 4px solid red; */
}
.github-icon{
    font-size: 2.6rem;
}
.theme-toggle-dark{
    color: yellow;
}
.theme-toggle-light{
    color: #222;
}
